<div class="cart-page">
  <h1>Your Cart</h1>
  <div *ngIf="totalProducts > 0; else emptyCart">
    <div class="cart-details">
      <div class="cart-item" *ngFor="let product of products">
        <span>{{ product.name +"dsadas"}}</span>
        <span>{{ product.quantity +"dsadsa" }} x {{ product.price | currency }}</span>
      </div>
      <div class="cart-summary">
        <p>Total Products: sad</p>
        <p>Total Price: {{ 55 | currency }}</p>
      </div>
    </div>
    <button>Complete Order</button>
    <button >Cancel Order</button>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>
