nav{
  border: 1px solid #000;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: #9DDE8B;

}
nav .nav-link{
  color: #006769;
}
nav .navbar-brand{
  color: #006769;
}
nav .navbar-brand span{
  color: #E6FF94;
  font-weight: 700;
  /* font-size: larger; */
  font-style: italic;
}

a{
  cursor: pointer;
  text-decoration: none;
}
a:hover,li:hover{
  color: white !important;
}
.avatar{
justify-content: end;
width: 1070px;
}
ul{
  align-items: center;
}
.nav-link{
  width: 70px;
}
