nav{
  border: 1px solid #000;
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: #9DDE8B;

}
nav .nav-link{
  color: #006769;
}
nav .navbar-brand{
  color: #006769;
}
nav .navbar-brand span{
  color: #E6FF94;
  font-weight: 700;
  /* font-size: larger; */
  font-style: italic;
}

a{
  cursor: pointer;
}
.avatar{
  margin-left:1000px ;
}
ul{
  align-items: center;
}
