<div class="aboutUsContainer">
    <h2>About Us</h2>
    <section>
        <aside class="left">
            <h3>About <span>K<span>S</span>tore</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quo, quibusdam, quaerat, quas
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quo, quibusdam, quaerat, quas
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quo, quibusdam, quaerat, quas
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quo, quibusdam, quaerat, quas
        </aside>
        <aside>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0KAau6PShg6qFDiYnD2gpu27DzcaA9G7IfEGMd4VE3eAhlsSg-aJlXjmaVJilqH4olJU&usqp=CAU" alt="aboutUs">
        </aside>
    </section>
</div>
