<section class="sec1 pt-5">
  <h1 class="title">Advertise now!</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <app-slider></app-slider>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-products></app-products>
        <!-- <app-aboutus></app-aboutus> -->
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <app-products></app-products> -->
        <app-aboutus></app-aboutus>
      </div>
    </div>
  </div>
</section>
